fastapi==0.109.2
fitz==0.0.1.dev2
Flask==3.0.2
gradio==4.19.2
gradio_client==0.10.1
ipdb==0.13.13
logger==1.4
pandas==2.2.0
Pillow==10.2.0
pydantic==2.6.1
pymongo==4.6.1
Pympler==1.0.1
pypdfium2==4.24.0
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.31.0
scikit_learn==1.3.0
torch==2.1.1
tqdm==4.66.1
transformers==4.35.2
uvicorn==0.27.1
xlsxwriter
plotly
seaborn
jieba
sseclient-py
